*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card img{
    width: 100%;
    height: 180px;
}

.row{

    margin: 10px;
    width: 100% !important;
}
.card-body .card-title span{
    
}

#footer{
    width: 100%;
    background-color: black; 
    position: relative; 
    text-decoration: white;
    height: 300px;
}
.footer ul{
    display: flex;
    width: 100%;
}
.footer ul li{
    list-style: none;
    margin: 30px;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{

    color: #dc3545;
}
ul li h3{
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
}
ul li h4{
    text-transform: capitalize;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.footer ul li img{
    margin: 50px;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid white;
}

/*mac laptop page css*/
.col-md-6{
    margin-top: 50px;
    height: 400px;

}
.col-md-6 .card{
    width: 100%;
    height: 100%;
    

}
.col-md-6 .card h3{
    text-align: center;
    text-transform: uppercase;
    color: #dc3545;
    margin-top: 30px;
    font-family: 'Times New Roman', Times;
    font-weight: 700;


}
.col-md-6 .card h6, h4{
text-align: center;
}
.col-md-6 .card p{
    margin: 30px;
    flex-wrap: wrap;
}
.col-md-6 img{
    width: 600px;
    border-radius: 10px;
    height: 100%;
}
.button{
    text-align: center;
    margin: 30px;
    
}
.button .btn{
    text-transform: capitalize;
}


@media (max-width:1115px) {
    .row{
        width: 100% !important;
    }
    .col-md-3{
        width: 33.3%;
    }
    
}

@media (max-width:900px) {
    .col-md-3{
        width: 50%;
    }
}

@media (max-width:598px) {
    .col-md-3{
        width: 100%;
    }
}